<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../../tests/unit/bootstrap.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>../../tests/unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>include</directory>
        </include>
    </source>
</phpunit>
